@{
    ViewData["Title"] = "Esqueceu a senha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="shadow p-4" style="width: 350px;">
        <h3 class="text-center mb-3">Esqueci minha senha</h3>

        <div class="text-danger" asp-validation-summary="All"></div>

        <form asp-action="ForgotPassword">
            <div class="form-group mb-3">
                <label>E-mail:</label>
                <input type="email" name="email" class="form-control" />
            </div>
            <br />
            <button class="btn btn-primary w-100" type="submit">Enviar</button>
            <br />
        </form>
    </div>
</div>
