@{
    ViewData["Title"] = "Senha Redefinida";
}
<h2>@ViewData["Title"]</h2>
<p>Sua senha foi redefinida com sucesso.</p>
<a asp-controller="Account" asp-action="login">Clique aqui para fazer o login</a>