@model ControleDietaHospitalarUnimedJau.Models.Dieta

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Dieta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeDieta" class="control-label"></label>
                <input asp-for="NomeDieta" class="form-control" />
                <span asp-validation-for="NomeDieta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItensAlimentares" class="control-label"></label>

                <textarea name="itensString" class="form-control" rows="5"></textarea>

                <span asp-validation-for="ItensAlimentares" class="text-danger"></span>
            </div>
            <br />
            
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Voltar a lista</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
