@model ControleDietaHospitalarUnimedJau.Models.UserRole
@{
    ViewData["title"] = "Create Role";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<h1>Create</h1>
<h4>Role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.Message != null)
        {
            <div class="p-1 mb-2 bg-success text-dark">
                @ViewBag.Message;
            </div>
        }
        <form asp-action="CreateRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            
            <div class="form-group">

                <input type="submit" value="Cadastrar" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
