@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao controle de dietas hospitalares</h1>
    <p>Gerencie dietas, entregas e relatórios de forma rápida e integrada.</p>
</div>
