@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<h2 class="text-center mb-4">Nosso Time de Desenvolvedores</h2>

<div class="container">
    <div class="row justify-content-center">

        <!-- Desenvolvedor 1 -->
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="https://github.com/oVeronezi" class="text-decoration-none">
            <div class="card shadow text-center p-3">
                <img src="https://avatars.githubusercontent.com/u/132702755?v=4" class="rounded-circle mx-auto mb-3" width="120" />
                <h5 class="fw-bold">Luis Felipe</h5>

				</div>
			</a>
        </div>

        <!-- Desenvolvedor 2 -->
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="https://github.com/leoantoniassi" class="text-decoration-none">
            <div class="card shadow text-center p-3">
                <img src="https://avatars.githubusercontent.com/u/181371049?v=4" class="rounded-circle mx-auto mb-3" width="120" />
                <h5 class="fw-bold">Leonardo Antoniassi</h5>

				</div>
			</a>
        </div>

        <!-- Desenvolvedor 3 -->
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="https://github.com/BrunoFzx" class="text-decoration-none">
            <div class="card shadow text-center p-3">
                <img src="https://avatars.githubusercontent.com/u/181370729?v=4" class="rounded-circle mx-auto mb-3" width="120" />
                <h5 class="fw-bold">Bruno Ferraz</h5>

				</div>
			</a>
        </div>

        <!-- Desenvolvedor 4 -->
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="https://github.com/Valemineo" class="text-decoration-none">
            <div class="card shadow text-center p-3">
                <img src="https://avatars.githubusercontent.com/u/177966302?s=96&v=4" class="rounded-circle mx-auto mb-3" width="120" />
                <h5 class="fw-bold">Pedro Mineo</h5>

				</div>
			</a>
        </div>

    </div>
</div>

